<% if(month && month.length > 1) { %>

<div class="downloads-chart">
  <div class="graph">
    <div id="download-chart"></canvas>
    <script>
      var monthData = <%- JSON.stringify(month) %>;
    </script>
  </div>
  <div class="day"><%- month[month.length-1].downloads %> downloads yesterday</div>
</div>

<% } %>